<div class="bigtext">
  <h1><a href="/about">| THE STORY SO FAR</a></h1><h1><a href="/done">| THE STUFF IVE DONE</a></h1><h1><a href="/like">| THINGS I LIKE</a></h1><h1><a href="/contact">| REACH OUT</a></h1>
</div>  